/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

  .navbar-wrapper {
    margin-top: 10px;
  }

  .navbar-wrapper .navbar {
    border-radius: 8px;
  }


